html{
  font-size: 100%;

}
@media only screen and (max-width: 895px){
  html{
    font-size: 90%;
  }
}

:root{
    --background: #C0F0F7;
    --primary: #9BE8F2;
    --secondary: #68DCEB;
    --accent: #45F564;
    --antiAccent: #056716;
    --text: #000;
    /*--header: #052327;*/
    --header: #093d44;

}

[data-theme="dark"]{
    --background: #093d44;
    --primary: #106B77;
    --secondary: #158F9F;
    --accent: #056716;
    --antiAccent: #45F564;
    --text: #FFF;
    --header: #C0F0F7;

}

body{
    background-color: var(--background);
    color: text;
}

h1, h2, h3, h4, h5, h6{
    color: var(--header);
}

header{
    text-decoration: none;
}
    

section{
    background-color: var(--primary);
    border-radius: 1.25rem;
    display: block;
    min-height: 15rem;
    padding: 0.625rem;
    margin: 0.625rem;
}

*{
    color: var(--text);
}

a{
  color: var(--antiAccent);
  font-weight: bold;
  text-decoration: underline;
}

/*day-night-switch*/

#dayNingtBox{
  float: right;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
  
  }

  .theme-switch {
    display: inline-block;
    height: 2.125rem;
    position: relative;
    width: 3.75rem;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--accent);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: var(--antiAccent);
    bottom: .25rem;
    content: "";
    height: 1.625rem;
    left: .25rem;
    position: absolute;
    transition: .4s;
    width: 1.625rem;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.625rem);
  }
  
  .slider.round {
    border-radius: 2.125rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* blocks*/

/*AboutMe*/

.imageTextWrap img{
    height: 12.5rem;
    width: 18.75rem;
}

#aboutMeSpacer{
    height: 0;
    float: right;
}

#canoe{
    float: left;
    margin: 0px .25rem 0px 0px;
}

#bow{
    float: right;
    margin: 0px 0px 0px .25rem;
    clear: right;
}

/*skills*/
.skillIcon{
    height: 12.5rem
}
