:root{
    --background: #C0F0F7;
    --primary: #9BE8F2;
    --secondary: #68DCEB;
    --accent: #45F564;
    --text: #000;
    /*--header: #052327;*/
    --header: #093d44;

}

[data-theme="dark"]{
    --background: #093d44;
    --primary: #106B77;
    --secondary: #158F9F;
    --accent: #056716;
    --text: #FFF;
    --header: #C0F0F7;

}

body{
    background-color: var(--background);
    color: text;
}

h1, h2, h3, h4, h5, h6{
    color: var(--header);
}

header{
    text-decoration: none;
}
    

section{
    background-color: var(--primary);
    border-radius: 20px;
    display: block;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}

p, em{
    color: var(--text);
}

/*day-night-switch*/

.theme-switch-wrapper {
    display: flex;
    align-items: center;
  
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--secondary);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: var(--header);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* blocks*/

/*AboutMe*/

.imageTextWrap img{
    height: 200px;
    width: 300px;
}

#aboutMeSpacer{
    height: 0;
    float: right;
}

#canoe{
    float: left;
    margin: 0px 10px 10px 0px;
}

#bow{
    float: right;
    margin: 10px 0px 0px 10px;
    clear: right;
}

/*skills*/
.skillIcon{
    height: 200px
}
